*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: black;
    color: white;
    font-family: 'Roboto', sans-serif;;
}

a{
    color: white;
    text-decoration: none;
}

.btn{
    background-color: rgb(87, 87, 87);
    padding: 0.3rem 0.6rem;
    font-size: 1rem;
    border-radius: 5px;
    text-align: center;
}

header{
    display: flex;
    justify-content: flex-end;
    align-items:flex-start;
    height: 10vh;
    width: 100%;
    padding: 5px;
    gap: 10px 5px; 
}

main{
    height: 80vh;
    padding: 0 50px 0 50px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    gap: 15px 5px; 
    justify-content: center;
    align-content: flex-start;
    overflow-y:auto;
}

.video{
    position: relative;
    line-height: 0px;
    width: 240px;
    height: 130px;
}

.video__name{
    position: absolute;
    padding: 0.6rem;
    bottom: 0px;
    left: 0px;
    background-color: rgba(54, 54, 54,0.7);
} 

.video img{
    width: 100%;
    height: 100%;

    object-fit: cover;
}

.video__name::before{
    font-family: 'FontAwesome';
    content: "\f131";
    margin-right: 5px;
}

footer{
    background-color: rgb(26, 26, 26);
    height: 10vh;
    display: flex;
}

footer *{
    justify-content: space-between;
}

.footer__left,
.footer__right,
.footer__center{
    flex-grow: 1;
    display: flex;
}

.footer__left{
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    width: 20%;
}

.footer__center{
    justify-content: center;
    width: 60%;

}

.footer__right{
    justify-content: flex-end;
    text-align: center;
    width: 20%;

}

.footer__item{
    display: flex;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
}

.footer__item-icon{
    font-size: 30px;
    margin-bottom: 5px;
}

.footer__item-right{
    margin-left: 10px;
    font-size: 10px;

}

.footer__item:nth-child(4) .footer__item-icon{
    color: green;
}
.footer__item-left{
    text-align: center;
}

.footer__end-meeting{
    flex-basis: 160px;
    font-size: 10pt; 
    padding: 0 30px 0 30px;
    background-color: rgb(75, 75, 75);
    color: rgb(187, 0, 0);
    position: relative;
}

.footer__end-meeting span{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

