*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: black;
    color: white;
    font-family: 'Roboto', sans-serif;;
}

a{
    color: white;
    text-decoration: none;
}

.btn{
    background-color: rgb(87, 87, 87);
    padding: 0.3rem 0.6rem;
    font-size: 1rem;
    border-radius: 5px;
    text-align: center;
}
*{
}

header{
    display: flex;
    justify-content: flex-end;
    align-items:flex-start;
    height: 10vh;
    width: 100%;
    padding: 5px;
    gap: 5px;
}

main{
    height: 80vh;
    width: 95%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    gap: 20px 10px;
    justify-content: center;
    overflow-y: scroll;
}

.video{
    width: 300px;
    height: 200px;
    position: relative;
    line-height: 0px;
}

.video__name{
    position: absolute;
    padding: 0.6rem;
    bottom: 0px;
    left: 0px;
    background-color: rgba(54, 54, 54,0.7);
} 

.video__name::before{
    font-family: 'FontAwesome';
    content: "\f131";
    margin-right: 5px;
}