*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: black;
    color: white;
    font-family: 'Roboto', sans-serif;;
}

a{
    color: white;
    text-decoration: none;
}

.btn{
    background-color: rgb(87, 87, 87);
    padding: 0.3rem 0.6rem;
    font-size: 1rem;
    border-radius: 5px;
    text-align: center;
    margin-right: 10px;
}


header{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 40px;
    width: 100%;
}